/* funcionamiento menu de navegacion */
.oculto {
    display: none;
}

.mostrar {
    display: block;
}

.menuActivo {
    text-decoration: underline;
}
/* funcionamiento menu de navegacion */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    min-height: 10vh;
}

section {
    min-height: 90vh;
}

/* Formularios */

.form-signin  form{
    width: 90%;
    max-width: 600px;
    text-align: center;
  }
  
  .form-signin .checkbox {
    font-weight: 400;
  }
  
  

  .form-login  form{
    width: 90%;
    max-width: 600px;
    text-align: center;
  }
  
  .form-login .checkbox {
    font-weight: 400;
  }
  
 
  
  .form-login input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }